		<div id="page-footer" class="footer-padding">
			<div class="row">
				<!-- IF U_MCP or U_ACP -->
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="btn-group">
							<!-- IF U_MCP -->
								<a class="btn btn-blue" href="{U_MCP}">{L_MCP}</a>
							<!-- ENDIF --> 
							<!-- IF U_ACP -->
								<a class="btn btn-blue" href="{U_ACP}">{L_ACP}</a>
							<!-- ENDIF -->
						</div>
					</div>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_SEARCH or (S_USER_LOGGED_IN and not S_IS_BOT) -->
					<div class="col-md-2 pull-right">
						<div class="btn-group dropup pull-right">
							<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" style=" display: block; ">
								<i class="fa fa-wrench"></i>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<!-- IF S_DISPLAY_SEARCH -->
								<li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
								<!-- IF S_LOAD_UNREADS -->
								<li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li>
								<!-- ENDIF -->
								<!-- IF S_USER_LOGGED_IN -->
								<li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
								<!-- ENDIF -->
								<li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
								<!-- ENDIF -->
								<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
								<li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li>
								<!-- ENDIF -->
								<!-- IF S_HAS_SUBFORUM -->
								<!-- IF not S_IS_BOT and U_MARK_FORUMS -->
								<li><a href="{U_MARK_FORUMS}">{L_MARK_SUBFORUMS_READ}</a></li>
								<!-- ENDIF -->
								<!-- ENDIF -->
							</ul>
						</div>
						<br />
					</div>
				<!-- ENDIF -->
			</div>
			<div class="text-center"><p>(c) Проект «<b>РуРанобэ</b>» 2014<br/>{CREDIT_LINE}</p>
			</div>
		</div>
	</div>
	<a id="back-to-top" href="#" class="btn btn-blue" role="button" title="{$BACK_TO_TOP_TOOLTIP}" data-toggle="tooltip" data-placement="left"><i class="fa fa-chevron-up"></i></a>
	<a id="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
	<!-- Dev mode -->
</body>
</html>