.btn-grey{
	background: #f2f2f2;
	color: #4d4d4d;
	border-radius: 0;
}
.search{
	background: #f2f2f2;
	border-radius: 0;

}
.btn-blue{
	background: #60a9d4;
	border-radius: 0;
	color: #fff;
}
.blueText{
	color: #60a9d4;
}
.greyText{
	color: #aeaeae;
}
thead.topiclist, thead.topiclist th{
	background: #60a9d4;
	font-size: 14px;
    color: #fff !important;
}
thead.topiclist a, thead.topiclist a:hover, thead.topiclist a:visited{
    color: #fff !important;
    text-transform: uppercase;
}
.btn-breadcrumb a, .btn-breadcrumb a:hover, .btn-breadcrumb a:visited{
	color: #fff !important;
}
.panel-info {
	border-color: #f2f2f2;
	border-radius: 0;
}
.panel-info>.panel-heading{
	background-color: #60a9d4;
    border-color: #60a9d4;
    color: #fff;
}
.forumtitle, .forumtitle:hover, .forumtitle:visited {
	font-weight: bold;
	color:#4d4d4d;
}
.forum-icon .btn-info i, .forum-topic-icon .btn-info i{
	font-size: 32px;
	color: #60a9d4;
}
.forum-icon .btn-default i, .forum-topic-icon .btn-default i{
	font-size: 32px;
	color: #e7e7e7;
}
.forum-icon a:hover,.forum-icon a, .forum-topic-icon a:hover, .forum-topic-icon a{
    background-color: transparent !important;
    border-color: transparent !important;
}
.forum-icon a:hover i,.forum-topic-icon a:hover i  {
	color: #88bcdd;
}
.lastpost span .fa-stack{
	color: #60a9d4;	
}
th.forum-name a,  h3.panel-title a,  h3.panel-title {
    font-weight: bold !important;
    font-size: 14px;
}
.page-header .h3{
	font-size: 32px;
	color: #60a9d4;
}
.page-header p span{
	font-size: 14px;
	color: #aeaeae;
}
.btn-breadcrumb .btn.separator {
	padding: 6px;
	color: #60a9d4;
}
.section-viewtopic .panel-primary{
	border: 1px solid #f2f2f2;
	border-radius: 0;
}
.section-viewtopic .panel-primary>.panel-heading{
	border-color: #f2f2f2 !important;
    border-width: 0px !important;
    border-bottom-width: 1px !important;
    height: 40px;
}
.section-viewtopic .panel-primary h3.panel-title.pull-left {
    line-height: 21px;
}
.post-info-left .author_full{
	background: #f2f2f2;
	font-weight: bold;
	padding: 8px;
	width: 150px !important;
	margin-bottom:5px;
}
.post-info-left .author_full a{
	color: #4d4d4d !important;
	text-decoration: none !important;

}
.post-info-left .avatar{
	width: 150px !important;
}
.post-info-left .avatar img{
	width: 150px !important;
	height: 150px !important;
}
.post-content-right .content {
	padding: 20px !important;
}
blockquote{
	padding: 10px;
	font-size: 14px;
	background: #f2f2f2;
	margin: 0px;
}
blockquote .fa-quote-left{
	margin-right: 20px;
}
.panel-heading {
	border-color: #f2f2f2 !important;
    border-width: 0px !important;
    border-bottom-width: 1px !important;

}
/* Breadcrumb
----------------------------------------*/

.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
  color: #fff;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}
.btn-breadcrumb .btn:only-child {
  padding: 6px 10px !important;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-blue:not(:last-child):after {
  border-left: 10px solid #60a9d4;
}
.btn-breadcrumb .btn.btn-blue:not(:last-child):before {
  border-left: 10px solid #2e6da4;
}
.btn-breadcrumb .btn.btn-blue:hover:not(:last-child):after {
  border-left: 10px solid #60a9d4;
}
.btn-breadcrumb .btn.btn-blue:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}